html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
div{
	margin: 0;
	padding: 0;
}

div.clear
{
	clear: both;
}

div.layout-horizontal
{
	float: left;
}

div.layout-top-collapser, div.layout-bottom-collapser, div.layout-left-collapser
{
	background-color: Green;
}

div.layout-top-collapser-collapsed, div.layout-bottom-collapser-collapsed, div.layout-left-collapser-collapsed
{
	background-color: Red;
}

div.layout-left-collapser
{
	float: left;
	width: 20px;
}

div.app-top
{
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
}

div.app-top-inverted
{
    background-color: #f9f9f9;
    border-top: 1px solid #dddddd;
}

div.app-bottom
{
    background-color: #e9e9e9;
    border-top: 3px solid #dddddd;
}

div.app-bottom-inverted
{
    background-color: #e9e9e9;
    border-bottom: 3px solid #dddddd;
}

div.top, div.bottom
{
    background-color: Blue;
}

div.left, div.right
{
    background-color: Orange;
}

div.topCollapser, div.bottomCollapser
{
    background-color: Red
}

div.leftCollapser, div.rightCollapser
{
    background-color: Green;
}