html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Calibri, Tahoma, Arial, Times New Roman;
}
div{
	margin: 0;
	padding: 0;
}

div.clear
{
	clear: both;
}

div.layout-horizontal
{
	float: left;
}

div.layout-top-collapser, div.layout-bottom-collapser, div.layout-left-collapser
{
	background-color: Green;
}

div.layout-top-collapser-collapsed, div.layout-bottom-collapser-collapsed, div.layout-left-collapser-collapsed
{
	background-color: Red;
}

div.layout-left-collapser
{
	float: left;
	width: 20px;
}

div.app-top
{
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
    padding: 0 3px;
}

div.app-version
{
    text-align: right;
}

div.app-top-inverted
{
    background-color: #f9f9f9;
    border-top: 1px solid #dddddd;
}

div.app-bottom
{
    background-color: #e9e9e9;
    border-top: 3px solid #dddddd;
    padding: 0 3px;
}

div.app-bottom-inverted
{
    background-color: #e9e9e9;
    border-bottom: 3px solid #dddddd;
    line-height: 30px;
}

div.app-left
{
    background-color: #f9f9f9;
    border-right: 1px solid #dddddd;
}

div.app-left-inverted
{
    background-color: red;
    border-left: 3px solid blue;
}

div.app-left-collapser
{
    background-color: #dddddd;
    cursor: pointer;
}

div.app-left-collapser:hover, div.app-left-collapser-collapsed:hover
{
    background-color: #999999;
}

div.app-left-collapser-collapsed
{
    background-color: #bbbbbb;
    cursor: pointer;
}


div.top, div.bottom
{
    background-color: Blue;
}

div.left, div.right
{
    background-color: Orange;
}

div.topCollapser, div.bottomCollapser
{
    background-color: Red
}

div.leftCollapser, div.rightCollapser
{
    background-color: Green;
}

div.content
{
    overflow: scroll;
}

div.auto
{
    overflow: auto;
}

div.expander-header-selector-uncollapsed
{
	background-image: url("images/expander.png");
}

div.expander-header-selector-collapsed
{
	background-image: url("images/expandercollapsed.png");
}

div.expander-header-selector
{
    height: 15px;
    width: 15px;
    left: 4px;
    top: 4px;
    position: relative;
    float: left;
    cursor: pointer;
}

div.expander-header
{
    background-color: #e9e9e9;
    padding: 2px 2px 2px 22px;
}

div.expander-header2
{
    background-color: #e9e9ff;
    padding: 2px 2px 2px 22px;
}

div.expander
{
    margin: 2px;
    border: 1px solid #e9e9e9;
}

div.expander-content
{
    clear: both;
    padding: 2px 2px 2px 20px;
}

ul.datatab
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.datatab li
{
    width: 100px;
    display: inline-block;
    cursor: pointer;
    padding: 2px 2px 0 2px;
    margin: 0 2px 0 0;
}

ul.datatab li.datatabtop
{
    border-top: 3px solid #eeeeee;

    background-color: #eeeeee;
    color: #999999;
}

ul.datatab li.datatabtop:hover
{
    background-color: #e9e9e9;
    color: #777777;
    border-top: 3px solid #c9c9c9;
}

ul.datatab li.selected
{
    background-color: #f9f9f9;
    color: #444444;
   
    border-top: 3px solid #777777;
}

ul.datatab li.selected:hover
{
    background-color: #f9f9f9;
    color: #444444;

    border-top: 3px solid #777777;
}

div.datapanel
{
    background-color: #f9f9f9;
    padding: 5px;
}

div.content-top
{
    background-color: #dddddd;
}

div.tab-page-container
{
	float: right;
	width: 40px;
	text-align: right;
}

div.tab-page-right
{
	height: 20px;
	width: 20px;
	background-color: Red;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
}

div.tab-page-left
{
	height: 20px;
	width: 20px;
	background-color: Blue;
	cursor: pointer;
	display: inline-block;
	
}